In [3]:
uso_cpu = [
[20, 25, 40, 50, 45, 60, 55, 35, 70, 65],
[30, 35, 50, 60, 40, 55, 60, 45, 50, 55],
[15, 20, 30, 25, 35, 40, 45, 50, 55, 60],
[10, 15, 25, 35, 45, 50, 55, 60, 65, 70],
]

def uso_maximo(regiao):
  return max(regiao)

for i in range(len(uso_cpu)):
  valor_maximo = uso_maximo(uso_cpu[i])
  print(f'O valor de uso da região: {valor_maximo}')

O valor de uso da região: 70
O valor de uso da região: 70
O valor de uso da região: 70
O valor de uso da região: 70

In [4]:

def acima_da_media(regiao):
  media = sum(regiao) / len(regiao)
  maior = 0
  for valor in regiao:
    if valor > media:
      maior += 1
  return maior

for i in range(len(uso_cpu)):
  valores_acima = acima_da_media(uso_cpu[i])
  print (f'Na região, {valores_acima} valores estão acima da média.')

Na região, 5 valores estão acima da média.
Na região, 6 valores estão acima da média.
Na região, 5 valores estão acima da média.
Na região, 6 valores estão acima da média.

In [5]:
import pandas as pd

uso_cpu = [
[20, 25, 40, 50, 45, 60, 55, 35, 70, 65],
[30, 35, 50, 60, 40, 55, 60, 45, 50, 55],
[15, 20, 30, 25, 35, 40, 45, 50, 55, 60],
[10, 15, 25, 35, 45, 50, 55, 60, 65, 70],
]

regioes = ["us-east-1", "us-west-2", "eu-central-1", "sa-east-1"]
colunas = [f"hora_{i}" for i in range(1, 11)]

df = pd.DataFrame(uso_cpu, index=regioes, columns=colunas)

df["uso_médio"] = df.mean(axis=1)

df

,hora_1,hora_2,hora_3,hora_4,hora_5,hora_6,hora_7,hora_8,hora_9,hora_10,uso_médio
us-east-1,20,25,40,50,45,60,55,35,70,65,46.5
us-west-2,30,35,50,60,40,55,60,45,50,55,48.0
eu-central-1,15,20,30,25,35,40,45,50,55,60,37.5
sa-east-1,10,15,25,35,45,50,55,60,65,70,43.0